html {
  font-family: $primary-font;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  letter-spacing: 1px;
}

h1 {
  font-size: $text-3xl;
}

h2 {
  font-size: $text-2xl;
}

h3 {
  font-size: $text-xl;
}

h4 {
  font-size: $text-lg;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;

  @media screen and (min-width: $screen-md) {
    padding: 0;
    width: 90%;
  }

  @media screen and (min-width: $screen-lg) {
    width: 80%;
  }
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}
