/// Colors.

// Black Swatch.
$black: #000000;
$darkest-slate: #262c33;
$darker-slate: #3a4855;
$fiord: #465768;
$slate: #546b81;
$light-slate: #7f9bb4;
$lighter-slate: #aabfd3;
$lightest-slate: #e2eaf2;

// Green Swatch.
$malachite: #0dbb6c;
$caribbean-green: #05d68d;
$turquoise: #30eda9;
$turquoise-blue: #51f1b9;
$aquamarine: #73f5c8;
$aeroblue: #bbfde7;
$frosted-mint: #e5fff7;

// Blue Swatch.
$bright-turquoise: #0fd5ea;
$picton-blue: #30e1ed;
$lighter-picton-blue: #30e6f1;
$malibu: #4aecf5;
$bright-malibu: #64f2f9;
$french-pass: #bbfafd;
$bubbles: #e6fcfe;

// Typography.
$primary-font: 'Raleway', 'sans-serif';
$header-font: 'Playfair Display', serif;

$text-base: 1.6rem;
$text-md: 1.8rem;
$text-lg: 2.4rem;
$text-xl: 3.6rem;
$text-2xl: 4.8rem;
$text-3xl: 6rem;

// Breakpoints.
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
